
    {% extends "research_support/base.html" %}
    {% block content %}
        <h1>What would you like to do with your PDF?</h1>
            <div>
                <!-- Replace 'chat_with_pdf' and 'summarize_pdf' with the correct URL names you've defined in your urls.py -->
                <a href="{% url 'chat_with_pdfs' %}?doc_id={{ doc_id }}" class="btn btn-primary">Chat with PDFs</a>
                <a href="{% url 'summarize_pdf' %}?doc_id={{ doc_id }}" class="btn btn-secondary">Summarize PDF</a>
            </div>
        </body>
        </html>
          
    {% endblock content %}
